# Project exclude paths
/target/
.idea/
.idea/.gitignore
.idea/compiler.xml
.idea/dbnavigator.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
LeetCode.iml
src/main/resources/
